# use glob syntax.
syntax: glob

*node_modules
*dist
*messages
*coverage
*lib

*npm-debug.log*
logs/
*.log

package-lock.json
yarn-lock.json
webpack-stats.json

*mocha.json
*.orig

assets.json

.idea/
.vscode/
*yarn.lock

*.project
*.settings
*.DS_Store

*test-reports
*.iml
*/*/tmp/**
./test-reports/junit.xml
