@types:registry=https://artifactory.qvantel.net/artifactory/api/npm/npm-repos
registry=https://artifactory.qvantel.net/artifactory/api/npm/npm-repos
@kadira:registry=https://artifactory.qvantel.net/artifactory/api/npm/npm-repos
package-lock=false
