@import "../../variables";

.MessageBox {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-self: center;
	padding-top: 60px;

	&-message-container {
		text-align: center;
		width: 80%;
		max-width: 360px;
		padding: 10px 40px;
		border-radius: 2px;
		background: rgba($white, 0.385);
		box-shadow: 0 0 20px 0 rgba($black, 0.21);
	}

	h2 {
		margin: 20px;
	}

	&-pos {
		color: $white;
	}

	&-b2c {
		color: $black;
	}
}

