@import '../../../variables.scss';

.MiniBasketErrorBlock {
	width: 100%;
	border: 1px solid $weasel-border-color-solid;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	color: black;

	&-basket-error-record {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1px;

		.btn-icon-right {
			cursor: pointer;
		}
	}
	&-icon-info {
		color: red
	}
}
