@import "../../styles/_variables.scss";

.ProductOfferingConfigurationPrice {
	&-container {
		margin-left: 6px;
		flex: initial;
		flex-wrap: wrap;
		justify-content: flex-start;
		display: flex;
	}
	&-unselected {
		color: $gray;
	}
}
