@import '../../styles/_variables.scss';

.OcLoadingSpinner {
	color: gray("500");
	padding: 1rem;

	&-flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-inline {
		display: inline-block;
	}
}
