@import '../../styles/_variables.scss';

.CheckoutMonthlyTopUpForm {
	&-column-group {
		margin: .2rem 0 .25rem .4rem;
		border-left: .25rem solid gray("200");
		padding: 1rem 0 1rem 1rem;
		max-width: 25rem;
	}

	&-top-up-amount-with-presets {
		display: flex;
		align-items: center;

		.PriceHolder {
			margin-top: .6rem;
		}
	}

	@include media-breakpoint-up(sm){
		&-column-group {
			padding: 1rem 2rem;
		}
	}
}
