.ErrorLabel {
	&-container {
		display: flex;
		justify-content: center;
		padding: 5px;
		width: 100%;
	}

	&-message {
		background-color: #d9534f;
		border-radius: 2px;
		color: #fff;
		font-size: 75%;
		font-weight: 700;
		padding: 4px 8px;
		width: auto;
	}
}
